<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <div id="home-container2">
      <h3 id="home-heading3" style="color:#000000;"> The Lost Coast Trail Backpacking Guide</h3>
      <div>
        <img src="img/C7ifidCQQbmeRcPYlFM9_P1000020.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div id="home-markdown3" class="show-list-numbers-and-dots">
        <p style="color:#000000;">I’ve always loved the ocean.</p>

        <p style="color:#000000;">Growing up on the east coast of Australia, it has been a part of my life for as long as I can remember.</p>

        <p style="color:#000000;">Swimming, fishing, diving and surfing. Walking and running along its shores. Waves rolling in. Cooling sea breeze. The feeling of sand beneath my shoeless feet.</p>

        <p style="color:#000000;">Fast forward to April, 2014.</p>

        <p style="color:#000000;">The other side of the Pacific. Some 7,500 miles from where I was raised. A place where the sun sets rather than rises over the water. California’s Lost Coast Trail, a 53 mile hike along one of the world’s most beautiful coastlines.</p>
      </div>
    </div>
    <h1 id="home-heading4" style="color:#000000;">Heading</h1>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="home-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
  </ion-content>
</ion-view>