<ion-view title="Page" id="page5">
  <ion-content padding="true" class="has-header">
    <h3 id="page-heading1" style="color:#000000;font-weight:600;"> The Lost Coast Trail Backpacking Guide</h3>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="page-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
  </ion-content>
</ion-view>