<ion-view title="Profile" id="page8">
  <ion-content padding="true" class="has-header">
    <div id="profile-container5">
      <ion-list id="profile-list6">
        <ion-item class="item-avatar" id="profile-list-item15">
          <img src="img/j6qdM55AQWuvxvVtyoZH_KDhzQlj.png">
          <h2>John Doe</h2>
        </ion-item>
      </ion-list>
    </div>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <ion-list id="profile-list7">
      <ion-item id="profile-list-item19">Followes</ion-item>
      <ion-item id="profile-list-item20">Following</ion-item>
      <ion-item id="profile-list-item21">Likes</ion-item>
      <ion-item id="profile-list-item22">Adventure</ion-item>
      <ion-item id="profile-list-item23">Blog</ion-item>
      <ion-item id="profile-list-item24">Photos</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
  </ion-content>
</ion-view>